/*button.btn.btn-default.btn-secondary.react-bs-table-search-clear-btn{
    background-color: #ff6a00;
    border-radius: 50px;
    color: #fff;
    border: 2px solid #ff6a00;
        left: -54px;
}*/
